/* * {
    border: 1px solid red;
} */

body, a {
    margin: 0;
    text-decoration: none;
}

/* navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

li a:hover, .active {
    text-decoration: underline;
}

.nav {
    font-size: 20px;
    justify-content: flex-start;
    width: 100%;
}

.bottom-nav {
    background-color: #E5E5E5;
}

.links-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.logo-nav {
    display: flex;
    width: 792px;
}

/* images */
#logo {
    width: 50px;
}

#logoL {
    width: 200px;
}

#animals {
    width: 100%;
}

/* text */
#logoTitle {
    font-size: 30px;
}

.logoT:hover {
    text-decoration: none;
}

h2 {
    flex: 100%;
}

p {
    padding: 20px;
}

/* container */
.welcome-container {
    display: flex;
    color: white;
    background-image: linear-gradient(0deg, black, transparent 60%), url("../Assets/home-page-banner.jpg");
    min-height: 592px;
    background-repeat: no-repeat;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.animal-flex {
    flex: 50%;
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    color: black;
}

.info {
    flex: 50%;
    background-color: #E5E5E5;
    width: 100%;
    font-size: 20px;
}

.pet-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.pet-container1, .pet-container2, .pet-container3 {
    display: flex;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/col-1-img.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    background-size: 412.5px 274.5px;
}

.pet-container2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/col-2-img.jpg");
}

.pet-container3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/col-3-img.jpg");
}

.image-holder {
    height: 274.5px;
    width: 412.5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.pet-container1:hover, .pet-container2:hover, .pet-container3:hover {
    transform: scale(1.1);
}

/* form */
.contact, .subButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 0;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    width: 75%;
}

.subButton {
    justify-content: center;
    width: 100%;
}

/* submit */
#button, input, textarea {
    border: 3px solid #D53707;
    border-radius: 10px;
    color: grey;
    background-color: white;
    padding: 10px;
}

input {
    flex-basis: 47%;
}

textarea {
     height: 100px;
     width: 100%;
}

#button {
    border-radius: 25px;
    color: #D53707;
    width: auto;
}

/* mobile screen adjustment */
@media only screen and (max-width: 1200px) {
    /* text */
    .welcome-container {
        font-size: 85px;
    }

    /* containers */
    .info {
        font-size: 15px;
    }

    .pet-flex {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

@media only screen and (max-width: 1168px) {
    /* form */
    input {
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 768px) {
    /* text */
    .welcome-container {
        font-size: 65px;
    }

    /* containers */
    .info-container {
        flex-direction: column;
        justify-content: center;
    }

    .image-holder {
        height: 237.9px;
        width: 357.5px;
    }

    .pet-container1, .pet-container2, .pet-container3 {
        background-size: 357.5px 237.9px;
    }
}

@media only screen and (max-width: 709px) {
    /* text */
    .welcome-container {
        font-size: 55px;
    }
    /* image */
    #logoL {
        width: 20%;
    }
    /* form */
    input {
        flex-basis: 44%;
    }
}

@media only screen and (max-width: 595px) {
    /* text */
    .welcome-container {
        font-size: 45px;
    }
    /* form */
    input {
        flex-basis: 100%;
    }
}

/* mobile menu containers */
.mobile-container {
    max-width: 480px;
    background-color: white;
    height: 500px;
}

.topnav {
    overflow: hidden;
    background-color: #E5E5E5;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    display: none;
}