/* * {
    border: 1px solid red;
} */

/* * {
    outline: 1px solid  limegreen !important;
} */

body, a {
    margin: 0;
    text-decoration: none;
}


/* Header Area -- START */
header, footer {
    display: flex;
    align-items: center;
    gap: 0 5vw;
    padding: 15px 25px;
}

footer { 
    background-color: #E5E5E5;
}


.logo-nav {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-grow: .5;
    justify-content: space-between;
}
/* Header Area -- END */

/* navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li a:hover, .active {
    text-decoration: underline;
}

.nav {
    font-size: 20px;
    justify-content: flex-start;
    width: 100%;
}

.bottom-nav {
    display: flex;
    background-color: #E5E5E5;
    padding: 15px 0;
}

.links-nav-b {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 10px 0;
}

/* images */
#logo {
    width: 50px;
}

#logoL {
    width: 200px;
}

#animals {
    width: 100%;
}

/* text */
#logoTitle {
    font-size: 30px;
}

.logoT:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
}

h2 {
    flex: 100%;
}

/* container */
.welcome-container {
    display: flex;
    color: white;
    background-image: linear-gradient(0deg, black, transparent 60%), url("../Assets/home-page-banner.jpg");
    min-height: 592px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.animal-flex {
    flex: 50%;
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    color: black;
}

.info {
    flex: 50%;
    background-color: #E5E5E5;
    font-size: 20px;
    padding: 20px;
    padding: 20px;
    margin: 0;
}

.pet-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 50px 0;
}

.pet-container {
    display: flex;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/col-1-img.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    background-size: 412.5px 274.5px;
}

.pet-container2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/col-2-img.jpg");
}

.pet-container3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/col-3-img.jpg");
}

.image-holder {
    height: 274.5px;
    width: 412.5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.pet-container:hover {
    transform: scale(1.1);
}

/* form */
.contact, .subButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 0;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    width: 75%;
}

.subButton {
    justify-content: center;
    width: 100%;
}

/* submit */
#button, input, textarea {
    border: 3px solid #D53707;
    border-radius: 10px;
    color: grey;
    background-color: white;
    padding: 10px;
}

input {
    flex-basis: 47%;
}

textarea {
     height: 100px;
     width: 100%;
}

#button {
    border-radius: 25px;
    color: #D53707;
    width: auto;
    margin: auto;
}

/* mobile screen adjustment */
@media only screen and (max-width: 1200px) {
    /* text */
    h1 {
        font-size: 85px;
    }

    /* containers */
    .info {
        font-size: 15px;
    }

    .pet-flex {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

@media only screen and (max-width: 1168px) {
    /* form */
    input {
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 768px) {
    /* text */
    h1 {
        font-size: 65px;
    }

    /* containers */
    .info-container {
        flex-direction: column;
        justify-content: center;
    }

    .image-holder {
        height: 237.9px;
        width: 357.5px;
    }

    .pet-container1, .pet-container2, .pet-container3 {
        background-size: 357.5px 237.9px;
    }
}

@media only screen and (max-width: 709px) {
    /* text */
    h1 {
        font-size: 55px;
    }
    /* image */
    #logoL {
        width: 20%;
    }
    /* form */
    input {
        flex-basis: 44%;
    }
}

@media only screen and (max-width: 595px) {
    /* text */
    .welcome-container {
        font-size: 45px;
    }
    /* form */
    input {
        flex-basis: 100%;
    }
}

/* mobile menu containers */
.mobile-container {
    display: none;
    padding: 5px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media only screen and (max-width: 768px) {
    header nav {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: white;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    nav.active {
        left: 0;
        text-decoration: none;
        padding: 10px 0;
        position: absolute;
    }

    header {
        justify-content: space-between;
    }

    a {
        font-size: 1.6rem;
        font-weight: 400;
        color: black;
    }

    a:hover {
        opacity: black;
    }

    .logo-nav {
        justify-content: center;
    }

    .mobile-container.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-container.active .bar:nth-child(1) {
        transform: translatey(8px) rotate(45deg);
    }

    .mobile-container.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mobile-container {
        display: block;
        cursor: pointer;
    }

    /* bottom navigation */
    footer {
        flex-direction: column;
        gap: 10px 0;
    }

    footer nav {
        flex-direction: column;
        align-items: center;
        gap: 10px 0;
    }
}